html,body{
	width:100%;
	height:100%;
}
.hide {
	display: none;
}

h2 {
	text-align: center;
}

.centered-select {
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

.blue-div {
	background-color: rgb(135,206,250);
	border: 2px solid black;
} 
.boxWrapper {
}
.divWrapper {
	margin:auto;
	padding-top:30px;
}
.labelSize {
	width: 350px;
}

